<!doctype html>
<head>
    <meta charset="utf-8"/>
    <title>Boyarin</title>
    <!-- <link href="style/main.css" rel="stylesheet" type="text/css"> -->
    <!-- <script src="script/Channel.js"></script> -->
</head>
<body>
    <div>
        {{#unless user}}
            <a href="/auth/fb">login with facebook</a>
            <a href="/auth/vk">login with vkontakte</a>
        {{else}}
            <a href="/auth/logout">logout</a>
        {{/unless}}
    </div>
    {{#if task}}
        {{task.description}}
        <form method="POST" action="/submit">
            <input name="id" type="hidden" value="{{task.id}}"/>
            <ul>
                {{#each task.answers}}
                    <li><label><input name="answers" type="checkbox" value="{{this}}"/>{{this}}</label></li>
                {{/each}}
            </ul>
            <button>submit</button>
        </form>
    {{/if}}
</body>
</html>