<h2>RUSSE</h2>

<style type="text/css">
.task a, .task a:hover, .task a:visited, .task a:active {
  color: #07485B;
}

.russe-score-label {
  display: block;
  margin-top: -.35em;
  font-size: 85%;
}

.submission {
  margin-top: 2em;
}
</style>

<div class="hint">
  <p>В данной задаче, следует считать, что слова <strong>связаны по смыслу</strong>:</p>
  <ul>
  <li>если они являются <em>синонимами</em>, к примеру как &laquo;гиппопотам&raquo; и &laquo;бегемот&raquo;;</li>
  <li>если они обозначают <em>подобные понятия</em>, такие как &laquo;фрукт&raquo; и &laquo;яблоко&raquo; или &laquo;яблоко&raquo; и &laquo;груша&raquo;;</li>
  <li>если слова <em>тематически связаны</em>, например слова &laquo;колесо&raquo; и &laquo;тормоз&raquo;.</li>
  </ul>
  <p>Слова <strong>не связаны</strong>, если между ними нет очевидной семантической связи, например, как для слов &laquo;машина&raquo; и &laquo;огурец&raquo;.</p>
</div>

<datalist id="answers">
  <option value="0">0</option>
  <option value="1">1</option>
</datalist>

<div class="pure-g">
<div class="pure-u-1">
<form class="pure-form pure-form-stacked" method="POST" action="/{{process.id}}">
  <fieldset>
    <input type="hidden" name="token" value="{{token}}"/>
    <div class="pure-g task">
      <div class="pure-u-1">
        <table class="pure-table pure-table-striped width-max">
          <thead>
          <tr>
              <th class="align-center" style="width: 50%">Слова</th>
              <th class="align-center" style="width: 50%">Ваш ответ</th>
          </tr>
          </thead>
          <tbody>
          {{#each allocation.tasks}}
            <tr class="align-center">
                <td>{{{descriptionHTML}}}</td>
                <td>
                  <input name="task" type="hidden" value="{{id}}"/>
                  <input class="width-max" type="range" list="answers" min="0" max="1" value="{{answer}}" name="answers[{{id}}]">
                  <div class="russe-score-label pure-g">
                    <div class="pure-u-1-2 align-left">не связаны</div>
                    <div class="pure-u-1-2 align-right">связаны</div>
                  </div>
                </td>
            </tr>
          {{/each}}
          </tbody>
        </table>
      </div>
    </div>

    <div class="pure-g submission">
      {{#if errors}}
      <div class="pure-u-1 errors">
        <ul class="fa-ul">
          {{#each errors}}
            <li><i class="fa-li fa fa-exclamation"></i>{{this}}</li>
          {{/each}}
        </ul>
      </div>
      {{/if}}
      <div class="pure-u-2-3">
        <p class="hint">Осталось не более {{allocation.taskRemaining}} заданий из {{allocation.taskCount}}.</p>
      </div>
      <div class="pure-u-1-3 align-right">
        <button type="submit" class="pure-button pure-button-primary">Отправить <i class="fa fa-arrow-right"></i></button>
      </div>
    </div>
  </fieldset>
</form>

<p>К <a href="/">списку процессов разметки</a> можно вернуться в любой момент.</p>
</div>
</div>
