<a href="/">К списку заданий</a>
{{#if allocation.task}}
    <p>{{allocation.task.description}}</p>
    <form method="POST" action="/{{process}}">
        <input name="id" type="hidden" value="{{allocation.task.id}}"/>
        <ul>
            {{#each allocation.task.answers}}
                <li><label><input name="answers" type="{{../inputType}}" value="{{this}}"/>{{this}}</label></li>
            {{/each}}
        </ul>
        <button>submit</button>
    </form>
    <p>Осталось не более {{allocation.taskRemaining}} заданий из {{allocation.taskCount}}.</p>
{{/if}}
